body
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.page-header
{
    height: max-content;
}

.page-header > *
{
    grid-row: 1;
    grid-column: 1;
}

.page-header .text
{
    padding-inline: var(--gap);
}

.page-header .title
{
    margin: var(--gap-small) 0;
    font-size: 32px;
}

main
{
    display: grid;
    grid-template-columns: auto 1fr;
}